<div class="main">
  <div>
    <div class="top" style="background-image: url({{ bgImage }})"></div>
    <div class="bottom">
      <p class="title">Pizza Pepperoni</p>
      <p class="description">
        Beef is the culinary name for meat from cattle, particularly skeletal muscle. Humans have been eating beef since
        prehistoric times.[1] Beef is a source of high-quality protein and essential nutrients.[2]
      </p>
      <p class="info">Voir tous les plats</p>
    </div>
  </div>
</div>
