<mat-toolbar class="navbar-light bg-light justify-content-between">
  <a class="navbar-brand title">
    <span class="primary">BANGER</span>
    <span class="secondary">FOOD</span>
  </a>
  <form class="d-inline-flex w-50">
    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-secondary" type="submit">
      <mat-icon class="align-middle">search</mat-icon>
    </button>
  </form>
  <div>
    <button class="btn">Sign in</button>
    <button class="btn btn-outline-success">Sign up</button>
  </div>
</mat-toolbar>

<app-hero-banner></app-hero-banner>
<div class="container">
  <p class="hero-text">Meal Categories :</p><br><br><br><br>
</div>
<app-card-display [collection]="mealDB.categories" ></app-card-display>

<footer class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3">
    Inspired by :
    <a class="text-dark" target="_blank" href="https://dribbble.com/shots/15235181-Bangerfood-Recipes-Blog-Concept">
      Giorgi Matsukatovi
    </a>
  </div>
  <!-- Copyright -->
</footer>
