@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
@import "../assets/variables.scss";

.title{
  font-family: $title-font;
  .primary {
    color: $title-color-1;
  }
  .secondary {
    color: $title-color-2;
  }
}
